/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
/*	.p_item img{
		width: auto;
    	height: auto;
    	max-height: 500px;
	}*/
	.top_wrapper .top_text p {
      letter-spacing: 9px}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
/*	.p_item img{
		width: auto;
    	height: auto;
    	max-height: 500px;
	}*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.s_portfolio li{
		font-size: 2rem;
		margin: 0 auto;
		letter-spacing: .3vh;
	}
	.logo_container>img{
		width: 100px !important;
		z-index: 100 !important;
		margin: 0 !important;
	}
	.personal_last_block {
		margin-top: 35px;
	}
	.top_wrapper {
		z-index: 10;
		top: 25vh;
	}
	.top_wrapper .top_text h1{
		font-size: 5rem;
		border: 10px solid #fff;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_wrapper .top_text p {
	    font-size: 1.4rem;
	    letter-spacing: 4px;
	    font-weight: normal;
	}
	.s_about .social_wrap ul{
		display: flex;
	}
	.s_about .social_wrap ul li{
		margin: 0 auto;
	}
	.s_portfolio li{
		font-size: 2.3rem;
	}
	.social_wrap li{
		padding: 0 2vh;
	}
	.resume_container .left,
	.section_content .resume_container h3,
	.resume_container .resume_icon {
		text-align: left;
		margin-bottom: 10px;
	}
	.resume_container .left h3 {
		margin-top: 0;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.s_about .section_content h3 {
	    font-size: 2.5vh;
	    letter-spacing: 2px;
	}
	.btn_more{
		margin-top: 5%;
	}
	.p_item .port_item_cont {
		top: -20%;
		left: 4%;
    	width: 92%;
        height: 100%;
	    background-color: rgba(3, 23, 33, 0.88);
	    border: 3px solid #2EA2CC;
	    text-align: center;
	    padding: 5px !important;
	    padding-top: 15% !important;
	}
	.p_item h3 {
	    letter-spacing: 1.5px;
	}
	.p_item p {}
	.s_portfolio li{
		font-size: 2.3rem;
	}
	.top_wrapper .top_text h1 {
		font-size: 4em;
		padding-left: 10px;
		padding-right: 10px;
	}
	.top_wrapper .top_text p{
	    font-size: 1.4rem;
	    letter-spacing: 2.5px;
	    font-weight: normal;
	}
	.main_footer {
		text-align: left;
	}
	.main_footer .social_wrap {
		float: left;
		margin-top: 20px;
		width: 100%;
	}
	.main_footer .social_wrap ul {
		padding-left: 0;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.s_about .section_content h3{
		font-size: 2.3vh;
		letter-spacing: 1px;
	}
	.contact_box h5 a{
		margin: 0 auto;
	}
	.contact_box h5{
		display: flex;
	}
	.contact_phones a{
		font-size: 3vh;
    	margin: 0 auto;
	}
	.bg_dark .s_descr {
	    font-weight: 300;
	    letter-spacing: 1.5px;
	}
	.resume_more button{
		border:0px solid #fff;
	    margin: 10px;
	    margin-top: 25px;
    	letter-spacing: 1px;
	}
	.s_resume{padding: 70px 0 50px}
	.s_about .social_wrap ul{
		display: flex;
	}
	.s_about .social_wrap ul li{
		margin: 0 auto;
	}
	.p_item p {
	    font-size: 2.5vh;
	    padding: 0;
	    color: #fafafa;
	    letter-spacing: 1px;
	    font-weight: 200;
	    line-height: 1.5;
	}
	.p_item h3 {
	    color: #2EA2CC;
	    margin: 0;
	    font-weight: 600;
	    /*letter-spacing: 8px;*/
	    letter-spacing: 1px;
	    font-size: 3vh;
	    margin-top: 10%;
	}
	.p_item .port_item_cont {
	    position: absolute;
	    top: -20%;
	    left: 1%;
	    width: 98%;
	    height: 100%;
	    background-color: rgba(3, 23, 33, 0.88);
	    border: 3px solid #2EA2CC;
	    text-align: center;
	    padding: 5px !important;
	    padding-top: 20px !important;
	    opacity: 0;
	    -webkit-transition: all 0.5s;
	    transition: all 0.5s;
	}
	.top_wrapper .top_text h1 {
		font-size: 3em;
		padding-left: 10px;
		padding-right: 10px;
	}
	.top_wrapper .top_text p{
		font-size: 1.3rem;
    	letter-spacing: 1px;
	}
	.s_portfolio li{
		font-size: 2.3rem;
	}
	.main_head{
		background-color: rgba(11, 44, 56, 0.8) !important;
	}

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.top_mnu ul{
		margin-top: 25vh;
	}
	.p_item .port_item_cont{
		padding-top: 10vh;
	}
	.s_portfolio li{
		font-size:1.7vh;
		letter-spacing: .01vh;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.social_wrap li{
		padding: 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.s_descr_wrap .s_descr{
		font-size: 2vh;
	}
	section h2{
		/*font-size: 3.5vh;*/
	    /*font-weight: bold;*/
	    /*letter-spacing: 5px;*/
	}
	section .personal_header {
		font-size: 2vh;
	}
	section h3, .main_head h3{
		/*margin-top: 55px;*/
	}
	.s_about .social_wrap ul{
		display: flex;
	}
	.social_wrap li{
		padding: 0;
		margin: auto;	
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.p_item img{
		width: auto;
    	height: auto;
    	max-height: 500px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width: 1440px){

}