#app {
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    /*left: 200px;*/
    /* left: 0; */
    width: 100%;
    height: auto;
}
.content>div{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto;
}

.topmenu{
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    min-height: 5vh;
}
.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999; }
.loader .loader_inner {
    background-image: url("../img/skloader.gif");
    /*background-image: url("../img/preloader.gif");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    left: 50%;
    top: 50%;
    position: absolute; }

.cooperation li{
    -webkit-transition: transform 0.3s, color 0.3s ease;
    transition: transform 0.3s, color 0.3s ease;
}
.cooperation li:hover{
    cursor: pointer;
    -webkit-transition: transform 0.3s, color 0.3s ease;
    transition: transform 0.3s, color 0.3s ease;
}
.cooperation li::before, .cooperation li::after{
    content: ' - ';
    color: transparent;
    -webkit-transition: transform 0.3s, color 0.3s ease;
    transition: transform 0.3s, color 0.3s ease;
}
.cooperation li:hover:before, .cooperation li:hover:after{
    content: ' - ';
    color: #2EA2CC;
    -webkit-transition: transform 0.3s, color 0.3s ease;
    transition: transform 0.3s, color 0.3s ease;
}

.mobile-bg-blackout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 44, 56, 0.8);
    z-index: 5;
}

/*TESTS*/
.s_about{
    padding-bottom: 70;
}
/*TESTS*/

/*OVERRIDE MAIN.CSS*/
section,
.main_head {
    position: relative; }
section h3,
.main_head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #2ea2cc;
    font-size: 3vh;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 4px; 
}

.s_about p {
    font-size: 2.5vh;
    font-weight: 400;

}
.s_about li{
    font-size: 2.5vh;
    list-style: none;
    font-weight: 300;
    -webkit-transition: transform 0.3s, color 0.3s ease;
    transition: transform 0.3s, color 0.3s ease;
}
/*.cooperation li:hover:before{
    content: "\2022";
    color: #2EA2CC;
    width: 1em;
    padding: 0px 5px;
}
.cooperation li::before{
    content: "\2022";
    color: transparent;
    width: 1em;
    padding: 0px 5px;
        -webkit-transition: transform 0.5s, color 0.5s ease;
    transition: transform 0.5s, color 0.5s ease;
}*/
.social_wrap li{
    font-size: 6vh !important;
    padding: 0 4vh;
}

section .personal_header{
    font-size: 3vh;
}

#contacts > div.section_header > div > div{
    margin-bottom: 130px;
}

.main_footer .social_wrap li{
    font-size: 3vh !important;
    padding: 0 10px;
}
/*.s_portfolio .s_descr{*/
/*    margin-bottom: 7.5vh;*/
/*}*/
/*OVERRIDE MAIN.CSS*/

/*.bg-dark{*/
/*    background-color: rgba(0 10 10 1) !important;*/
/*}*/
.bg_skt_dark{
    background-color: rgba(0, 10, 10, 1);
}

.p_item {
  display: inline-block;
  padding: 0; }
  
 .p_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222de;
    text-align: center;
    padding-top: 15vh;
     padding-top: 15%; 
    opacity: 0;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }

 .p_item:hover .port_item_cont { 
    opacity: 1;
    padding: 10% 20%;
}
  .p_item h3 {
    color: #2EA2CC;
    margin: 0;
    font-weight: 600;
    letter-spacing: 8px;
    font-size: 3vh;
}
/*  .p_item a {
    background-color: rgb(0 0 0 / 25%);
    border: #2EA2CC 1px solid;
    padding: 0px 15px;
    display: inline-block;
    font-size: 3vh;
    border-radius: 5px;
    text-decoration: none;
    color: #ccc;
    }
    .p_item a:hover{
        background-color: rgb(0 0 0 / 50%);
        color:#2EA2CC;
    }*/
    /**/

    .p_item p {
        padding: 0px 15px;
        display: inline-block;
        font-size: 3vh;
        font-weight: 300;
        text-decoration: none;
        color: #fff;
    }
    #portfolio_grid{
        position: relative;
        padding: 0;
    }

    .s_portfolio li.active{
        color: #222;
        font-size: 2.4vh;
        font-weight: 300;
        letter-spacing: 3px;
    }

    .lardi-trans-point{
        content: url('../img/lardi-trans-point.png');
        width:2vh;
    }
    .s_about .lardi-trans-point{
        width: 5vh;
    }
    .fa-truck{
        transform: rotateY(180deg);
    }

    .p_block_inf{
        display: flex;
        position: relative;
        width: 100%;
        min-height: 400px;
    }
    .p_item img {
        display: block;
        position: relative;
        vertical-align: middle;
        margin: 0 auto;
        background: no-repeat scroll center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .form-inf-block:before{
        display: flex;
    }
    .form-inf-block{
        width: 100%;
        margin: auto;
    }


.footer_copy{
    color: #222;
    text-align: center;
}

.bg_dark .s_descr{
    font-weight: 200;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #FAFAFA;
}
body::-webkit-scrollbar:hover {
    width: 12px;
    background-color: #FAFAFA;
}
body::-webkit-scrollbar-thumb{
    background-color: #2EA2CC;
    width: 6px;
    border-radius: 3px; 
}
body::-webkit-scrollbar-thumb:hover{
    width: 6px;
}

.sk_btn_light{
    border: 1px solid white;
    background-color: #2EA2CC;
    letter-spacing: 2px;
    color: #fff;
    line-height: 40px;
    padding: 0 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    -webkit-transition: transform 0.3s, color 0.3s ease;
    transition: transform 0.3s, color 0.3s ease;

}
.sk_btn_light:hover{
    border: 1px solid #2EA2CC;
    background-color: rgba(255, 255, 255, 0);
    color: #2EA2CC;
    font-weight: 400;
}

.sk_btn_dark{
    border: 1px solid #222;
    color: #222;
    line-height: 40px;
    padding: 0 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 15px;
    -webkit-transition: transform 0.3s, color 0.3s ease;
    transition: transform 0.3s, color 0.3s ease;
}
.sk_btn_dark:hover{
    border: 1px solid #2EA2CC;
    color: #2EA2CC;
    background-color: #222;
    font-weight: 400;
}
.btn_more {
    background-color: #2EA2CC;
    position: relative;
    display: inline-block;
    border: 1px solid #2EA2CC;
    color: #333;
    font-weight: 400;
    letter-spacing: 4px;
}
.btn_more:hover{
    font-weight: 300;
    color: #fff;
}
.s_portfolio{
    padding: 90px 0 0px;
}
.p_item p{
    font-size: 2.5vh;
    padding: 0;
    color: #fafafa;
    letter-spacing: 1.8px;
    font-weight: 200;
    line-height: 1.3;
}
.p_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    background-color: rgba(3, 23, 33, 0.88);
    border: 5px solid #2EA2CC;
    text-align: center;
    padding: 10%;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.p_item:hover .port_item_cont{
    padding: 10%;
    box-shadow: 0px 10px 10px 0px #44444480;
}
.contact_phones a{
    font-size: 2.2vh;
    font-weight: bold;
}
b{
    font-weight: 400;
    font-size: 2vh;
    color: #444;
    letter-spacing: 1.2px;
}
.podrt_descr {
    background-color: #fff;
    max-width: 90vh;
    margin: auto;
}
section h2{
    font-size: 3.5vh;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .s_about .personal_header{
    color: #2EA2CC;
  }
  .s_about p{
    color: #333;
  }

.modal-box-content h3{
    font-weight: 400;
    margin-top: 20px;
    padding-top: 25px;
    font-size: 2.5vh;
    letter-spacing: 4px;
}
.modal-box-content b {
    font-weight: 400;
    font-size: 2.5vh;
    color: #444;
    letter-spacing: 2px;
}
.modal-box-content p {
    margin-top: 0;
    font-size: 2.3vh;
    font-weight: 300;
    text-align: justify;
}
.mfp-content .podrt_descr{
    background-color: #fff;
    max-width: 1200px;
    width: auto;
    margin: auto;
}
.fa:hover{
    color: #298eb3;
}